doctype html
html
  head
    title= 'store shop'
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    script(src='/static/js/jquery-3.1.1.min.js')
    script(src='/static/js/bootstrap.min.js')
  body
    .container
      include navbar.pug
      if item.photo
        each imgId in item.photo
          - let imgUrl = '/img/' + imgId;
          - let imgDownloadUrl = '/img_download/' + imgId;
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#' + imgId)= 'Pic'
          .modal(id=imgId, tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5.modal-title= Picture
                .modal-body
                  img.img-responsive.center-block(src=imgUrl, alt=imgId, style='max-width:400px; max-height:400px;')
                .modal-footer
                  a.btn.btn-primary(href=imgDownloadUrl)= 'Download'
                  button.btn.btn-secondary(type='button', data-dismiss='modal')= 'Close'
                  .pull-left
                    form(action='/img_delete/' + item._id + '/' + imgId, method='post')
                      button.btn.btn-danger(type='submit')= 'Delete'

      form(action='/img_upload', method='post', enctype='multipart/form-data')
        .form-group
          label= 'Add Photo'
          input(type='hidden', name='_id', value=item._id)
          input.form-control(type='file', name='imgFile', accept='image/*;capture=camera')
          button.btn.btn-primary(type='submit')= 'Upload'
      form(action='/item_update', method='post')
        .form-group
          label= 'ID'
          input.form-control(type='text', name='_id', value=item._id, readonly)
        .form-group
          label= 'Summary'
          input.form-control(type='text', name='summary', value=item.summary)
        .form-group
          label= 'Size'
          input.form-control(type='text', name='size', value=item.size)
        .form-group
          label= 'Yahoo ID'
          input.form-control(type='text', name='yahooId', value=item.yahooId)
        .form-group
          label= 'Buyer Name'
          input.form-control(type='text', name='buyerName', value=item.buyerName)
        .form-group
          label= 'Buyer Post Code'
          input.form-control(type='text', name='buyerPostCode', value=item.buyerPostCode)
        .form-group
          label= 'Buyer Address'
          textarea.form-control(name='buyerAddress')= item.buyerAddress
        button.btn.btn-primary(type='submit')= 'Update'
      .pull-right
        form(action='/item_delete', method='post')
          input(type='hidden', name='_id', value=item._id)
          button.btn.btn-danger(type='submit')= 'Delete'
