doctype html
html
  head
    include header.pug
    script(src='/static/js/url.min.js')
    script(src='/static/js/navbar.js')
  body
    .container
      include navbar.pug
      br
      a.btn.btn-primary(href='/create')= '新規'
      br
      br
      .table-responsive
        table.table.table-striped.table-bordered
          thead
            tr
              td= '#'
              td= 'タイトル'
              td= '備考'
              td= 'Yahoo'
              td= '落札者'
          tbody
            - let rowNum = 0;
            each item in items
              -
                rowNum++;
                let itemUrl = '/item/' + item._id;
              tr
                td= rowNum
                if item.summary
                  td
                    a(href=itemUrl)= item.summary
                else
                  td
                    a(href=itemUrl)= 'None'
                td= item.comment
                if item.yahooId
                  - let yahooUrl = 'http://auctions.yahoo.co.jp/jp/auction/' + item.yahooId;
                  td
                    a(href=yahooUrl)= item.yahooId
                else
                  td= ''
                if item.buyerName
                  - let buyerStr = item.buyerName + ' ' + item.buyerPostCode + ' ' + item.buyerAddress;
                  td= buyerStr
                else
                  td= ''
