doctype html
html
  head
    include header.pug
  body
    .container
      include navbar.pug
      if item.photo
        each imgId in item.photo
          - let imgUrl = '/img/' + imgId;
          - let imgDownloadUrl = '/img_download/' + imgId + "?summary=" + encodeURI(item.summary);
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#' + imgId)= 'Pic'
          .modal(id=imgId, tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5.modal-title= '写真'
                .modal-body
                  img.img-responsive.center-block(src=imgUrl, alt=imgId, style='max-width:400px; max-height:400px;')
                .modal-footer
                  a.btn.btn-primary(href=imgDownloadUrl)= 'ダウンロード'
                  button.btn.btn-secondary(type='button', data-dismiss='modal')= '閉じる'
                  .pull-left
                    form(action='/img_delete/' + item._id + '/' + imgId, method='post')
                      button.btn.btn-danger(type='submit')= '削除'

      form(action='/img_upload', method='post', enctype='multipart/form-data')
        .form-group
          label= '写真追加'
          input(type='hidden', name='_id', value=item._id)
          input.form-control(type='file', name='imgFile', accept='image/*;capture=camera')
          button.btn.btn-primary(type='submit')= '送信'
      form(action='/item_update', method='post')
        .form-group
          label= 'ID'
          input.form-control(type='text', name='_id', value=item._id, readonly)
        .form-group
          label= 'タイトル'
          input.form-control(type='text', name='summary', value=item.summary)
        .form-group
          label= '価額'
          input.form-control(type='text', name='price', value=item.price)
        .form-group
          label= '備考'
          textarea.form-control(name='comment', rows=10)= item.comment
        .form-group
          label= 'Yahoo ID'
          input.form-control(type='text', name='yahooId', value=item.yahooId)
        .form-group
          label= '落札者氏名'
          input.form-control(type='text', name='buyerName', value=item.buyerName)
        .form-group
          label= '落札者郵便番号'
          input.form-control(type='text', name='buyerPostCode', value=item.buyerPostCode)
        .form-group
          label= '落札者アドレス'
          textarea.form-control(name='buyerAddress')= item.buyerAddress
        .form-group
          label= 'サイズ'
          input.form-control(type='text', name='size', value=item.size, readonly)
        .form-group
          label= '重さ'
          input.form-control(type='text', name='weight', value=item.weight, readonly)
        .form-group
          label= 'カラット'
          input.form-control(type='text', name='carat', value=item.carat, readonly)
        button.btn.btn-primary(type='submit')= '送信'
      .pull-right
        form(action='/item_delete', method='post')
          input(type='hidden', name='_id', value=item._id)
          button.btn.btn-danger(type='submit')= '削除'
